@font-face {
    font-family:'RobotoBlack';
    src: url(../Roboto/Roboto-Black.ttf) format("truetype");
   
}

@font-face {
    font-family:'RobotoBlackItalic';
    src: url(../Roboto/Roboto-BlackItalic.ttf) format("truetype");
    font-style: italic;
}

@font-face {
    font-family:'RobotoBold';
    src: url(../Roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family:'RobotoBoldItalic';
    src: url(../Roboto/Roboto-BoldItalic.ttf) format("truetype");
    font-style: italic;
}

@font-face {
    font-family:'RobotoItalic';
    src: url(../Roboto/Roboto-Italic.ttf) format("truetype");
    font-style: italic;
}

@font-face {
    font-family:'RobotoLight';
    src: url(../Roboto/Roboto-Light.ttf) format("truetype");
    font-weight: light;
}

@font-face {
    font-family:'RobotoLightItalic';
    src: url(../Roboto/Roboto-LightItalic.ttf) format("truetype");
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family:'RobotoMedium';
    src: url(../Roboto/Roboto-Medium.ttf) format("truetype");
    font-weight: medium;
}

@font-face {
    font-family:'RobotoMediumItalic';
    src: url(../Roboto/Roboto-MediumItalic.ttf) format("truetype");
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family:'RobotoRegular';
    src: url(../Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family:'RobotoThin';
    src: url(../Roboto/Roboto-Thin.ttf) format("truetype");
    font-weight: thin;
}

@font-face {
    font-family:'RobotoThinItalic';
    src: url(../Roboto/Roboto-ThinItalic.ttf) format("truetype");
    font-weight: thin;
    font-style: italic;
}

body {
    border: 10px;
    width: 998px;
    margin: 0 auto;
    padding: 0 auto;   
}
header {
 background-color: #1F2937;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr, 2fr, 1fr;
 

}

header h2 {
 color: #F9FAF8;
 font-weight: bolder;
 font-size: 48px;
 font-family: 'RobotoBold', Arial, Helvetica, sans-serif;
} 

header p, a{
 font-size: 18px;
 color: #E5E7EB;
}

#logo {
 grid-column: 1/2;
 grid-row: 1/2;   
}

#logotext {    /* NOT WORKING YET */
 font: 40px;
 color: #F9FAF8;
}

#headermaintext {
 grid-column: 1/2;
 grid-row: 2/4;   
}


.btn, #catchattention {
background-color: #3882F6;
color: white;
}

.btn {
 width: 20%;
 padding: 10px;
 border-radius: 10px;
 font-size: 15px;
 margin: 10px 0;
 cursor: pointer;
 font-weight: bold;
 border: none;   
}

#secondbtn {
 padding: 10px;
 border-radius: 10px;
 font-size: 15px;
 margin: 10px 0;
 cursor: pointer;
 font-weight: bold;
 border: white;
 border-width: 1px;
 border-style: solid;
 grid-column: 2/3;
 grid-row: 2/4; 
 width: 100px;

 }


#content h3 {
 font-size: 36px;
 font-weight: bolder;
 color: #1F2937;   
 font-family: 'RobotoBlack', sans-serif;
}

#quote {
 background-color: #E5E7EB;   
}

.quotetext {
 font-size: 36px;
 font-family: 'Roboto-LightItalic', sans-serif;
 font-weight: light;
 font-style: italic;
 color: #1F2937;   
}


#fourimages {
 display: flex;
 justify-content: space-around;
}

img {
 height: 200px; 
 width: 200px;
 border-radius: 10%;    
}

ul li {
 display: inline;
 align-items: flex-start;
}

header nav ul {
 list-style-type: none;
 padding: 1.5rem;
 margin: 0 auto;  
}

a{
 text-decoration: none; 
}

nav {
 grid-column: 2/3;
 grid-row: 1/2;   
}

#randomimage {
 grid-column: 2/3;
 grid-row: 2/4;   
}

#catchattention {
 display: grid;
 grid-template-columns: 1fr 3fr, 1fr, 1fr;
 grid-template-rows: 1fr, 1fr, 1fr;
 margin-left: 10%;
 padding: 1%;
 width: 700px;   
 border-radius: 10px;   
}

#firstline {
 font-family: 'RobotoBold', sans-serif;
 grid-column: 1/2;
 grid-row: 1/2;  
}

#secondline {
 grid-column: 1/2;
 grid-row: 2/4;  
 
}


footer {
 background-color: #1F2937;
 color: white;
 padding: 8px;
 display: flex;
grid-template-columns: 1fr, 1fr, 1fr, 1fr;

}

footer p {
margin-left: 390px;
 
}